html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

@font-face {
    font-family: "bebas";
src: url(../fonts/Bebas.ttf) format("onetype"),
        url(../fonts/Bebas.woff) format("woff"),
            url(../fonts/Bebas.woff2) format("woff2");
}

@font-face {
    font-family: "Helvetica";
src: url(../fonts/HelveticaNeue.ttf) format("onetype"),
        url(../fonts/HelveticaNeue.woff) format("woff"),
            url(../fonts/HelveticaNeue.woff2) format("woff2");
}

.container {
    margin: 0 auto;
    max-width: 970px;
    padding: 0 15px;
}

body {
    font-family: "Bebas";
    font-size: 16px;
}

.sliders {
    border: none;
}

.slider__inner-2 {
    margin-top: 17px;
}

.slider__item-title {
    position: absolute;
    background-color: rgb(232, 102, 60);
    opacity: 0.8;
    width: 400px;
    padding: 25px;
    bottom: 33px;
    left: 37px;
}
 
.slider__item {
    font-family: "Helvetica";
    font-size: 12px;
    color: #ffffff;
    max-height: 400px;
    position: relative;
}

.slider__title {
    font-family: "Bebas";
    font-size: 18px;
}

.slider__inner-ba {
    position: relative;
}

.slider__inner-ba::after,
.slider__inner-ba::before {
    content: "";
    width: 100%;
    height: 60px;
    position: absolute;
    background-color: #f3af9d;
    top: 0;
    
}

.slider__inner-ba::after {
    left: 100%;
    margin-left: 15px;
}

.slider__inner-ba::before {
    right: 100%;
    margin-right: 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    font-size: 16px;
    align-items: center;
}

a {
    text-decoration: none;
    font-family: "Bebas", cursive;
    color: #ffffff;
}

.slider-title {
    font-family: "Bebas", cursive;
    font-size: 18px;
    padding-bottom: 20px;
}

ul a {
    list-style: none;
    color: #b9b9b9;
 }

.list {
    display: inline-block;
 }

.header__logo {
margin-bottom: 15px;
}

.slick-active  {
    outline: none;
}

span {
    color: #e8603c;
}

.header__logo a {
    font-size: 36px;
    color: #f3af9d;
}

.active {
    color: #e8663c;
}

.menu {
    transition: all 0.3s;
}

.menu a:hover {
    color: #e8663c;
    
}

.menu li + li {
    margin-left: 30px;
}

.headerm__menu-row {
    margin-top: 5px;
    width: 25px;
    height: 4px;
    background-color: #e8603c;

}

.header__menu-btn {
    display: none;
    position: relative;

}



.slider__inner-2 div + div {
    margin-left: 20px;
}

.slick-arrow{
    content: none !important;
    color: rgba(255, 255, 255, 0);
    font-size: 0;
    opacity: 0.7;
    width: 36px;
    height: 52px;
    z-index: 10;
}

.slick-arrow::before{
    content: none !important;
}

.slick-arrow:hover {
    opacity: 1;
}

.slick-arrow.slick-prev{
    background-image: url(../img/previous.png);
    left: 20px;
}

.slick-arrow.slick-next{
    background-image: url(../img/next.png);
    right: 20px;
}

.slider {
    display: flex;
    
}


/* section items */

.items__inner {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 280px;
}

.item-title {
    position: relative;
    padding-left: 70px;
  
}

.item__inner-title {
    font-size: 18px;
    color: #e8663c;
}

.item__icon {
    position: absolute;
    left: 0;
    top: 0px;
}

.item__inner-text {
    padding-top: 35px;
    font-family: "Helvetica";
    color: #414141;
    font-size: 12px;
    line-height: 18px;
}

.item__inner-link {
    text-transform: uppercase;
    background-color: #e8663c;
    color: #ffffff;
    display: inline-block;
    padding: 10px 15px;
    margin-top: 22px;
}
  
/* section work */

.work {
    margin-bottom: 50px;
}

.work-slider {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.work__title {
    background-image: url(../img/recent_work/work-bg.png);
    margin-top: 45px;
    font-size: 18px;
    color: #e8603c;
}

.work__title span {
    background-color: #ffffff;
    padding-right: 20px;
}

.info__text  a {
    color: #b9b9b9;
    line-height: 18px;
}

.info__text {
    padding-top: 15px;
    padding-left: 15px;
}

.info__data {
    padding-bottom: 15px;
    padding-left: 15px;
}

.info__data a {
    color: #e8663c;
    font-size: 11px;
    line-height: 18px;
}

.work-slider__info {
    border: 1px solid #dbdbdb ;
    border-top: none;
}

.work-slider img {
    display: block;
}

/* footer */

/* .footer {
   display: flex;
}

.footer::before,
.footer::after {
    background-color: #f3af9d;
    width: 100%;
    content: "";
} */

.footer__inner-ba {
    position: relative;
}

.footer__inner-ba::after,
.footer__inner-ba::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f3af9d;
    top: 0;
}

.footer__inner-ba::after {
    left: 100%;
    margin-left: 15px;
}

.footer__inner-ba::before {
    right: 100%;
    margin-right: 15px;
}


.footer__inner {
    background-color: #e8663c;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.footer__social {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
}

.footer__social li + li {
    margin-left: 5px;
}


.footer__item-about {
    width: 265px;
}

.footer__item-twitter {
    width: 220px;
}

.footer__item-contact {
    width: 260px;
    padding-right: 40px;
}

.footer__item-about {
    padding-left: 35px;
}

.footer__item-title {
    padding-top: 40px;
    font-size: 20px; 
}

.footer__item-text {
    font-family: "Helvetica";
    font-size: 12px;
    padding-top: 30px;
}

.footer__item-text span {
    color: #f1b09b;
}

.footer__item-text a {
    color: #f1b09b;
    font-family:Helvetica;
}

.footer__designdude {
    padding-top: 9px;
}

.footer__follow {
    padding-top: 10px;
}

ul {
    padding-inline-start: 0; 
}

